.btn {
	color: var(--white1);
	border: 1px solid var(--white1);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	font-family: 'Space Mono', monospace;
	padding: 0.5rem 0.75rem;

	&:hover {
		border: 1px solid var(--brand2);
		color: var(--brand2);
	}
}

.btn2 {
	color: var(--white1);
	border: 1px solid var(--white1);
	background-color: var(--brand2);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.75rem;
	font-family: 'Space Mono', monospace;
	padding: 0.5rem 0.75rem;

	&:hover {
		border: 1px solid var(--white1);
		color: var(--white1);
		background-color: transparent;
	}
}
