@use '../abstracts' as *;

.testimonials {
	position: relative;
	max-width: 900px;
	overflow: hidden;
	margin: 0 auto;

	&__wrapper {
		display: flex;
		justify-content: center;
		transition: transform 0.4s ease;
		gap: 1rem;
	}

	&__testimonial {
		flex: 1 1 33.33%;
		min-width: 30%;
		border: 1px solid white;
		padding: 1rem;
		border-radius: 6px;
		user-select: none;
	}

	&__prev,
	&__next {
		background: none;
		border: none;
		font-size: 1.5rem;
		cursor: pointer;
		padding: 0.5rem 1rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}

	&__prev {
		left: 0;
	}

	&__next {
		right: 0;
	}
}
