@use './mixins' as *;
@use './variables' as *;

// Animations

// Scroll Loop
@keyframes scrollLoop {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(1turn);
	}
}

@keyframes scrollLoopFinger {
	0% {
		transform: translate(-50%, -60%) rotate(90deg);
	}
	100% {
		transform: translate(-50%, -40%) rotate(90deg);
	}
}
